/* @import './base.css'; */

@font-face {
  font-family: 'HSJiptokki-Round';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/HSJiptokki-Round.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'SLEIGothicTTF';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SLEIGothicTTF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MabinogiClassicR';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/MabinogiClassicR.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Pretendard-Regular', sans-serif !important;
  background-color: #aa887b; 
  color: #25150a;
}

.container {
  max-width: 1300px; /* 최대 너비 */
  margin: 0 auto; /* 좌우 중앙 정렬 */
  padding: 0 20px; /* 내부 좌우 여백 */
  box-sizing: border-box; /* 패딩과 테두리를 포함한 크기 계산 */
}