/* @import './base.css'; */

@font-face {
  font-family: 'HSJiptokki-Round';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/HSJiptokki-Round.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'SLEIGothicTTF';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SLEIGothicTTF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MabinogiClassicR';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/MabinogiClassicR.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BagelFatOne-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_JAMO@1.0/BagelFatOne-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HSJiptokki-Black';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/HSJiptokki-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

html {
  overflow-y: scroll; /* 항상 세로 스크롤바를 표시 */
}
body {
  font-family: 'Pretendard-Regular', sans-serif !important;
  /* background-color: #aa887b;  */
  color: #25150a;
  margin-bottom: 50px;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px; /* 콘텐츠가 테두리에서 떨어지도록 설정 */
  box-sizing: border-box; /* 요소의 총 너비를 max-width로 제한 */
}

h1 {
  font-family: 'HSJiptokki-Black', sans-serif;
  font-size: 50px;
  color: #3f2411;
}